.tag {
  background-color: #ddd;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 16px;
  font-size: smaller;
}

time {
  padding: 10px 20px;
  font-size: smaller;
}




.sx__date-picker-popup{
  width: 800px; /* Changez cette valeur selon vos besoins */
  height: 1000px; /* Changez cette valeur selon vos besoins */
}

.sx__month-grid-day{
  height: 150px;
}

.sx__time-grid-event-title{
  font-size: 15px;
}

/*.sx__calendar-header{
  background-color: aqua;
}

.sx__calendar{
  background-color: blueviolet;
}*/

/* Classe pour le fond blanc */
.background-white {
  background-color: white;
}

/* Classe pour le fond noir */
.background-black {
  background-color: black;
}
